*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: black;
}
.about{
    padding: 78px 0px;
}
.about img{
    height:fit-content;
    max-width: 400px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    margin-bottom: 60px;
}
.about-text h1{
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #0a981b;
}
.about-text p{
    color: rgba(226, 226, 226, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.outer h3{
    text-align: center;
    margin-top: 5em;
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 2em;
}
.main2 p{
    color: rgba(226, 226, 226, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.main2{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}
.videocon{
 height: 570px;
}



.headpart{
    background-image: url(https://pbs.twimg.com/media/FK45VucWQAA7_j5.jpg);
    background-size: cover;
    /* background-image: ; */
    height: 100vh;
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    margin: auto;
    padding-left: 10%;
    padding-top: 40px;
    padding-right: 10%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    position: -webkit-sticky;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 20px;
    position: relative;
    font-size: 20px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
button{
    padding-top: 90%;
    border: none;
    height: 70px;
    width: 140px;
    background-color: white;
    padding: 12px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}

.navbar ul li a:hover
{
    color: #0a981b;
    transition: .3s;
    width: 100%;
}
.navbar h4{
    color: #fff;
    text-align: center;
    width: 200px;
    font-size: 50px;
}
.content{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h3{
    margin: 20px auto;
    font-size: 40px;
    font-weight: 100;
    line-height: 25px;
    color:  black;
    text-shadow: 0 0 100px black;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    color: black;
    text-shadow: 0 0 100px black;
}
.content h1::after{
    content: '';
    height: 3px;
    width: 0;
    background: #e6e925;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.top {
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #000;
    background: #fff;
    border-radius: 100px;
}
.outer2
{
    padding: 78px 0px;
}
.outer2 img{
      height: auto;
      max-width: 600px;
} 
.about-text3{
      width: 550px;
} 
.outer2{
      width: 1130px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-left: 10px;
      margin-bottom: 60px; 
}
.outer2 h3{
    height: 700px;
      color: white;
      font-size: 50px;
      text-transform: capitalize;
      margin-bottom: 20px;
}
.about-text3 p{
      color: rgba(226, 226, 226, 0.8);
      letter-spacing: 1px;
      line-height: 28px;
      font-size: 18px;
      margin-bottom: 45px;
}
.outer3 h3{
    text-align: center;
    margin-top: 5em;
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 2em;
}
.main4 p{
    color: rgba(226, 226, 226, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.main4{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}
.videocon2{
 height: 570px;
}
.outer4
{
    padding: 78px 0px;
}
.outer4 img{
      height: auto;
      max-width: 600px;
}
.about-text5{
      width: 550px;
} 
.outer4{
      width: 1130px;
      max-width: 95%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-left: 10px;
      margin-bottom: 60px; 
}
.outer4 h3{
    height: 700px;
      color: white;
      font-size: 50px;
      text-transform: capitalize;
      margin-bottom: 20px;
}
.about-text5 p{
      color: rgba(226, 226, 226, 0.8);
      letter-spacing: 1px;
      line-height: 28px;
      font-size: 18px;
      margin-bottom: 45px;
}
.outer4
{
    padding: 58px 0px;
}
.outer4 img{
    height: auto;
    max-width: 500px;
}
.about-text5{
    width: 550px;
}
.main5{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    margin-bottom: 10px;
}
.about-text5 h3{
    color: white;
    font-size: 47px;
    text-transform: capitalize;
    height: 230px;
}
.about-text5 p{
    color: rgba(226, 226, 226, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.outer5
{
    padding: 78px 0px;
}
.main6{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    margin-bottom: 60px;
}
.outer5 h2{
    color: white;
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.about-text6 p{
    color: rgba(226, 226, 226, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.lop img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.outer6
{
    padding: 78px 0px;
}
.main7{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    margin-bottom: 60px;
}
.outer6 h2{
    color: white;
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 70px;
}
.about-text7 p{
    color: rgba(226, 226, 226, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

footer
{
    background-color: black;
}
footer h1{
    color: #0cb146;
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 70px;
}
.foot p{
    color: rgba(226, 226, 226, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: center;
}
.foot h2{
    color: rgba(226, 226, 226, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 20px;
    text-align: center;
}
